.topbar{
    display: flex;
    padding: 10px;
    height:50px;
    width:100%;
    border-radius: 10px;
}
.topbar:hover{
    background-color: rgb(231, 211, 211);
}
.topbarWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topbarLeft{
    display: flex;align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 10px 0;

}
.topbarLeft{
    flex:3;
}
.topbarCenter{
    flex:5;
}
.topbarRight{
    flex:4;
}
.topbarCenter{
    display: flex;
    align-items: center;
}
.topbarCenterSearch{
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 80%;
    margin-left: 10px;
}
.topbarRight{
    display: flex;
    align-items: center;
}
.username{
    margin-left: 40px;

}
.profileImg{
    width: 42px;height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 40px;
}